@model IEnumerable<CMSWebApp.Models.Content>

@{
    ViewData["Title"] = "Index";
}


<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Content /</span> Content List</h4>

        <a asp-action="Create" class="btn btn-primary mb-4">Create New</a>

        <!-- Bordered Table -->
        <div class="card">
            <h5 class="card-header">Content Table</h5>
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BodyText)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreationTime)
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BodyText)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreationTime)
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button"
                                                    class="btn p-0 dropdown-toggle hide-arrow"
                                                    data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                                <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id"><i class="bx bx-info-circle me-1"></i> Details</a>
                                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id"><i class="bx bx-trash me-1"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/ Bordered Table -->
    </div>
    <!-- / Content -->

    <div class="content-backdrop fade"></div>
</div>